@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins&display=swap') ;
:root {
--primary-color : #106de7;
--secondary-color : #efc10a;
--accent1-color : #09eeee;
--accent2-color : #f5f535;
--heading-font : 'Poppins',sans-serif;
--paragraph-font : 'Didact Gothic',sans-serif;
--nav-background-color : #d4dedf;
--nav-link-color : #2d1eb8;
--nav-hover-link-color : #a6faf3;
--nav-hover-background-color : #0b81ef;
}

body {
  max-width: 960px;
  padding: 20px;
  text-decoration: none; 
  margin: auto;
  background-color: rgb(242, 242, 247);

}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: #1353a6;
  display:flex;
  justify-content: center;
}

header {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 9fr);
  column-gap: 20px;
  grid-column-start: 1;
  grid-column-end: 9;
  background-color: #54d3f2;
}


p {
  padding: 25px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #19191a;
}

nav {
  background-color: #a6faf3;
  font-size: 1.5rem;
  display: flex;
  align-items: center;

}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

nav.sociallinks {
  text-decoration: none;
  display:flex;
  justify-content: center;
  
}

.h1{
  position: absolute;
  top: 50px;
  right: 300px;
  margin: auto;
  padding: 2px;
  opacity: 1;
  color: #043aed;
  background-color: #09eeee;
}

article{
  position: absolute;
  top: 150px;
  right: 80px;
  left: 80px;
  background:rgba(237, 149, 6, 0.3);
  padding: 5px;
  opacity: 5;
}

article img{
  float: right;
  max-width:200px;
  padding: 10px;
}

img {
  max-width: 100%;
}

div.hero {
  position: relative;
  padding: 20px;   
}


.history {
  background-color: palegoldenrod;
  display:flex;
  justify-items: center;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.adventure {
  display:flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  width: 100%;
  height: auto;
}

footer {
  display:grid;
  grid-template-columns: repeat(2, 9fr);
  column-gap: 20px;
  background-color: #a6faf3;
}

.info{
  text-align: left;
  padding: 0;
  border:#2F3E46;
  display:flex;
}

.contact-info {
  display:block;
  border-style:solid;
  border-color:#040404;
  padding: 5px;
}

form {
  width: 650px;
  margin: 2rem auto;
  padding: 1rem;
  border:#059ef0;
  border-radius: 0.5rem;
  background-color: rgb(171, 229, 240);
  display: grid;
}

label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
  margin: .5rem;
}

label {
  text-align: left;
  padding-right: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

button {
  margin: 1rem;
  background-color:#1c70e6;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color:#121111;
}


fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  background-color:#d8e7ec;
  padding: 1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

.check {
  display:flex;
}

.radio{
  display:flex;
}

.employees {
  display:flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  align-content: center;
  width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
  font-size:large;
}

.action {
  display: grid;
  justify-content: center;
  padding: 30px;
}

.trip {
  background-color:#9ee6f4;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  padding: 10px;
}
.button {
  width: 90%;
  font-size: 1.1rem;
  border: none;
  padding: 0.76rem;
  background-color: #264653;
  color: aliceblue;
  border-radius: .6rem;
  justify-content: center;
  display: flex;
  text-decoration: none;
}
table, th, td {
  border: 1px solid;
  padding: 20px;
}

table {
  width: 100%;
  padding: 20px;
}


.checkout {
  width: 97%; 
}

.contact_us_button {
  width: 100%;
}

.wireframe {
  width: 10%;
  height: 70%;
}

.purpose_offer {
  background-color:#e8eec9;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  padding: 10px;
}