@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins&display=swap') ;
:root {
--primary-color : #106de7;
--secondary-color : #efc10a;
--accent1-color : #09eeee;
--accent2-color : #f5f535;
--heading-font : 'Poppins',sans-serif;
--paragraph-font : 'Didact Gothic',sans-serif;
--nav-background-color : #d4dedf;
--nav-link-color : #2d1eb8;
--nav-hover-link-color : #a6faf3;
--nav-hover-background-color : #0b81ef;
}
header, main, footer, .hero img{
max-width : 840px;
margin : 0 auto;
}
body {
padding : 20px;
}
h1 {
color : var(--primary-color);
position : absolute;
top : 0px;
right : 25px;
background : rgb(2, 1, 0, 0.3);
border : #000 solid 1px;
padding-left : 15rem;
padding-right : 15rem;
}
.new {
position : absolute;
top : 250px;
right : 400px;
background : rgba(241, 245, 6, 0.521);
}
h2, h3, h4, h5, h6 {
color : var(--secondary-color);
display : flex;
justify-content : center;
}
header {
background-color : #0970ed;
display : grid;
grid-template-columns : 1fr 3fr;
gap : 20px;
align-self : center;
margin-bottom : 1rem;
padding-top : 1rem;
padding-bottom : 1rem;
}
header img {
padding-left : 2rem;
}
p {
padding : 1rem;
padding-top: 4rem;
}
.hero {
position : relative;
}
div img {
width : 850px;
}
nav {
display : flex;
justify-content : space-evenly;
align-items : center;
}
nav a {
color : rgb(31, 30, 30);
display : block;
padding : 20px;
text-decoration : none;
font-size : 1.2rem;
font-weight : 700;
color : var(--secondary-color);
}
article {
position : absolute;
top : 120px;
right : 0;
background : rgba(129, 230, 243, 0.719);
border : #000 solid 1px;
padding : 0.1rem;
}
article img {
float : right;
width : 150px;
height : auto;
padding-top : 1.5rem;
padding-bottom : 1rem;
padding-right : 1rem;
}
.history {
background : lightgoldenrodyellow;
border : #000 solid 1px;
padding : 0.1rem;
margin-top : 1rem;
margin-bottom : 1rem;
}
.history img {
float : left;
width : 185px;
height : auto;
margin : -12rem;
padding-left : 13rem;
}
.adventure {
background : rgb(73, 86, 163, 0);
border : rgb(16, 16, 16) solid 1px;
}
.img {
display : flex;
flex-direction : row;
justify-content: space-evenly;
}
.images {
  display : flex;
  flex-direction : row;
  align-items : flex-end;
  justify-content : center;
  flex-flow: row nowrap;
}

figure img {
width :90px;
height : 60px;
}
figcaption {
font-size : 1rem;
font-weight : 525;
}
footer {
display : flex;
justify-content : space-evenly;
align-items : center;
}
.sociallinks {
display : flex;
justify-content : flex-end;
align-items : center;
}
.where {
background : rgb(73, 86, 163, 0);
border : #000 solid 1px;
padding : 0.1rem;
margin-top : 5rem;
margin-bottom : 1rem;
}
.grid {
display : grid;
grid-template-columns : 1fr 1fr;
}
.who {
background : rgb(73, 86, 163, 0);
border : #000 solid 1px;
padding : 0.5rem;
margin-top : 1rem;
margin-bottom : 1rem;
}
.fform {
background : rgb(73, 86, 163, 0);
border : #000 solid 1px;
padding :0.5rem;
margin-top : 1rem;
margin-bottom : 1rem;
}
.map {
padding : 1rem;
}
form {
width : 650px;
margin : 0 auto;
padding : 0.5rem;
border : rgb(0, 0, 0, 0.3) solid 1px;
border-radius : 0.75rem;
background-color : #f9f14a;
display : grid;
margin-bottom : 1rem;
}
fieldset {
display : grid;
gap : 0.5rem;
margin : 0.75rem;
padding : 1rem;
border : rgb(0, 0, 0, 0.4) solid 0.5px;
}
legend {
padding : 0.3rem;
color : rgb(31, 205, 194);
font-size : 1.2rem;
}
label {
text-align : left;
font-size : 1.2rem;
padding-right : 1rem;
}
input, select, textarea {
padding : 0.5rem;
font-size : 1.1rem;
}
button {
margin : 1rem;
background-color : rgb(65, 148, 64);
color : #fff;
border : none;
border-radius : 5rem;
padding : 0.75rem;
font-size : 1.2rem;
}
button:hover {
background-color : rgb(67, 159, 212);
}
input[type="checkbox"] {
width : 22px;
height : 22px;
vertical-align : middle;
}
input[type="radio"] {
width : 15px;
height : 15px;
vertical-align : middle;
}
.column1 {
grid-template-columns : 3fr 2fr;
}




   



 







